
@{
    ViewBag.Title = "NuevoProceso";
}

<h2>Nuevo Proceso</h2>
<br />
<form>
    <div class="form-horizontal">
        <div class="form-group">
            <label>Fecha:</label>
            <input name="Fecha" type="date" id="fecha" class="form-control">
        </div>
        <div class="form-group">
            <label>Es una recepcion?</label>
            <label><input id="radioSi" type="radio" name="EsRecepcion">Si</label>
            <label><input id="radioNo" type="radio" name="EsRecepcion" checked>No</label>
        </div>
    </div>
    <br />
    <div class="form-horizontal">
        <div class="form-group">
            <label>Nombre del proceso:</label>
            <input name="NombreP" type="text" class="form-control" id="nombreP" placeholder="Ingrese el nombre">
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
            <input id="cant" type="text" class="form-control" name="Cantidad" style="width:150px" placeholder="Ingrese la cantidad">
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="panel-group">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">Producto salida</div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="focusedInput">Codigo</label>
                                <input name="CodigoProductoSalida" class="form-control" id="CodigoProductoSalida" type="text" style="width:100px" disabled>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" style="margin-left: 20px">Producto</label>
                                <input name="NombreProductoSalida" class="form-control EntradaProductoNombre" id="NombreProductoSalida" type="text" disabled>
                            </div>
                            <div class="form-group"><button id="btnBuscar" type="button" class="btn btn-primary btn-sm" style="margin-left:20px">Buscar</button></div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <!-- Tabla materia prima -->
    <div id="divCargandoLineas" class="col-md-4 col-md-offset-4" hidden>
        <h2 style="text-align:center">Cargando...</h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div id="divTablaMateriaPrima" hidden>
        <table class="table table-hover" id="tablaMP">
            <thead class="bg-primary">
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Materia prima
                    </th>
                    <th>
                        Proveedor
                    </th>
                    <th>
                        Lote
                    </th>
                    <th style="width:8%">

                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="form-horizontal">
        <div class="form-group" id="proveedor" hidden>
            <label for="sel1">Proveedor</label>
            <select name="Proveedor" class="form-control" id="sel1">
                @if (ViewBag.Proveedores != null)
                {
                    foreach (var proveedor in (List<Sw_Trazabilidad.Models.Empresa_Proveedor>)ViewBag.Proveedores)
                    {
                        <option value="@proveedor.IdEmpresa_Proveedor">@proveedor.RazonSocial</option>
                    }
                }
            </select>
            <br />
        </div>
        <div class="form-group" id="lote">
            <label for="LoteSalida">Lote</label>
            <input name="LoteSalida" type="text" class="form-control" id="loteSalida" disabled>
            <br />
        </div>
    </div>
    <br />
    <div class="panel panel-default" style="width:50%" id="datos1" hidden>
        <div class="panel-heading" style="text-align:center">Datos del producto de entrada</div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="sel1">Cosecha</label>
                    <select name="Cosecha" class="form-control" id="sel1">
                        @if (ViewBag.Cosechas != null)
                        {
                            foreach (var cosecha in (List<Sw_Trazabilidad.Models.Cosecha>)ViewBag.Cosechas)
                            {
                                <option value="@cosecha.Id_Cosecha">@cosecha.Año</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Gramaje</label>
                    <select name="Gramaje" class="form-control" id="sel1">
                        @if (ViewBag.Gramajes != null)
                        {
                            foreach (var gramaje in (List<Sw_Trazabilidad.Models.Gramaje>)ViewBag.Gramajes)
                            {
                                <option value="@gramaje.Id_Gramaje">@gramaje.Peso</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Envase</label>
                    <select name="Envase" class="form-control" id="sel1">
                        @if (ViewBag.Envases != null)
                        {
                            foreach (var envase in (List<Sw_Trazabilidad.Models.Envase>)ViewBag.Envases)
                            {
                                <option value="@envase.Id_Envase">@envase.Nombre_Tipo</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <br />
        </div>
    </div>
</form>

<div id="dialogBuscarProducto" title="Buscar producto">
    <label for="seleccionarProducto">Producto:</label>
    <select id="seleccionarProducto" class="form-control">
        @if (ViewBag.Productos != null)
        {
            foreach (var producto in (List<Sw_Trazabilidad.Models.Producto>)ViewBag.Productos)
            {
                <option value="@producto.Id_Producto">@producto.Nombre</option>
            }
        }
    </select>
</div>

<div id="dialogCargarLote" title="Cargar lote">
    <input id="idLinea" type="hidden" value="-1"/>
    <h3 id="textoCargandoLotes" class="text-center">
        Cargando...
    </h3>
    <div id="dialogCargarLoteInputs" hidden>
        <label for="dialogSelectLote">Seleccione lote:</label>
        <select id="dialogSelectLote" class="form-control">

        </select>
        <label for="dialogSelectProveedor">Seleccione proveedor:</label>
        <select id="dialogSelectProveedor" class="form-control">

        </select>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#radioSi").on("click", function () {
                if ($("#radioSi").prop("checked", true)) {
                    $("#proveedor").removeAttr("hidden");
                    $("#lote").attr("hidden", "true");
                    $("#datos1").removeAttr("hidden");
                }
            });
            $("#radioNo").on("click", function () {
                if ($("#radioNo").prop("checked", true)) {
                    $("#lote").removeAttr("hidden");
                    $("#proveedor").attr("hidden", "true");
                    $("#datos1").attr("hidden", "true");
                }
            });

            $("#btnBuscar").on("click", function () {
                $("#dialogBuscarProducto").dialog("open");
            });

            $("#dialogBuscarProducto").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        var producto = $("#seleccionarProducto option:selected");
                        $("#CodigoProductoSalida").val(producto.val());
                        $("#NombreProductoSalida").val(producto.text());
                        buscarMateriasPrimas(producto.val());
                        $(this).dialog("close");
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialogCargarLote").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        var id = $("#idLinea").val();
                        var lote = $("#dialogSelectLote option:selected");
                        var proveedor = $("#dialogSelectProveedor option:selected");
                        var row = $("td").filter(function () {
                            return $(this).text() == id;
                        }).closest("tr");
                        row.find(".cell-lote").html(lote.text());
                        row.find(".cell-proveedor").html(proveedor.text())
                        $(this).dialog("close");
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            function buscarMateriasPrimas(idProducto) {
                $("#divCargandoLineas").removeAttr("hidden");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ObtenerMateriasPrimasPorProducto","Procesos")',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({"idProducto": idProducto}),
                    success: function(result){
                        $("#divCargandoLineas").attr("hidden", "true");
                        result.map(function (mp) {
                            $("#tablaMP tbody").append("<tr><td>" + mp.Codigo + "</td><td>" + mp.Nombre + "</td><td class=" + '"cell-proveedor"'
                                + "></td><td class="+'"cell-lote"'+"></td><td><input type="
                                + '"button"' + "value=" + '"Cargar"' + " class=" + '"btn btn-primary btn-sm btn-cargar-linea"' + " onClick=" +
                                '"cargarLinea(' + mp.Codigo + ')"' + "></td></tr>");
                        });
                        $("#divTablaMateriaPrima").removeAttr("hidden");
                    },
                    error: function(errorText){
                    console.log(errorText);
                    }
                 });
            }
        });

        function cargarLinea(id) {
            $("#idLinea").val(id);
            $("#dialogCargarLote").dialog("open");
            obtenerLotes(id);
        }

        function obtenerLotes(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ObtenerLotesPorLinea","Procesos")',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ "idMateriaPrima": id }),
                success: function (result) {
                    result.Lotes.map(function (value) {
                        $("#dialogSelectLote").append("<option value="+value.Id+">"+value.Nombre+"</option>");
                    });
                    result.Proveedores.map(function (value) {
                        $("#dialogSelectProveedor").append("<option value=" + value.Id + ">" + value.Nombre + "</option>");
                    });
                    $("#textoCargandoLotes").attr("hidden", "true");
                    $("#dialogCargarLoteInputs").removeAttr("hidden");
                },
                error: function (errorText) {
                    console.log(errorText);
                }
            });
        }
    </script>
}